/* Global styles */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 320px;
  margin: 0 auto;
  font-size: 14px;
  overflow-x: hidden;
  word-wrap: break-word;
}

main {
  flex: 1 0 auto;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

p {
  margin-top: 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

.photo-link {
  pointer-events: none;
}

/*// Global styles */


/*******************************/


/* Page-header styles */

.page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 150px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.no-webp .page-header {
  background-image: url("img/8.jpg");
}

.webp .page-header {
  background-image: url("img/8.webp");
}

.page-header__intro {
  width: 70%;
  margin: 0 auto;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 5px white, 0 0 0 15px rgba(0, 0, 0, 0.5);
}

.page-header__title {
  font-size: 48px;
  margin: 15px 0;
  text-align: center;
  color: #ffffff;
}

.page-header__text {
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  letter-spacing: 3px;
}

/*// Page-header styles */


/*******************************/


/* Page-main styles */

.page-main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/*// Page-main styles */


/*******************************/


/* Photos styles */

.main-photo {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.main-photo-header {
  display: flex;
}

.main-photo-description {
  display: flex;
  flex-direction: column;
  padding: 25px 15px;
  background-color: #DBDCDD;
}

.main-photo-description__topline {
  font-weight: bold;
}

.photos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.photo {
  display: flex;
  flex-wrap: wrap;
  flex: 1 27.5%;
  min-height: 550px;
  margin: 0 1.25% 1.5% 0;
}

.photo-link {
  display: flex;
  width: 100%;
}

.photo:nth-child(3),
.photo:last-child {
  margin-right: 0;
}

.photo-description {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 25px 15px;
  background-color: #DBDCDD;
}

.photo-description__topline {
  width: 100%;
  font-weight: bold;
  font-size: 16px;
}

.photo-description__content {
  width: 100%;
  display: block;
}

/*// Photos styles */


/*******************************/


/* @Media */

@media (max-width: 1200px) {
  .container {
    width: 100%;
  }
}


@media (max-width: 1024px) {
  .container {
    padding: 0 15px;
  }
}

@media (max-width: 960px) {
  .photo {
    flex: 1 35%;
  }

  .photo:nth-child(3),
  .photo:last-child {
    margin-right: 1.25%;
  }

  .photo:nth-child(even) {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .photo {
    flex: 1 1 auto;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .photo:nth-child(3),
  .photo:last-child {
    margin-right: 0;
  }
}

/*// @Media */
